.map-container {
    width: 100%;
    height: 60vh;
}
.map-container > div {
    height: 100%;
}

body {
    height: 100vh;
}

#root {
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("");
    z-index: -1;
}

#van-icon {
    width: 70%;
}

#path-icon {
    width: 70%;
}

.css-yk16xz-control {
    border-radius: 1em !important;
    border-color: var(--primary) !important;
}
